.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 25%;
  border: 5px solid #2e2e2e;
  border-radius: 10%;
  padding: 10px;
  justify-content: center;
  background-color: #1e1e1e;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  align-content: center;
}

.input {
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: #2e2e2e;
  color: #ffffff;
  border: 1px solid #2e2e2e;
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ab8;
}

button:disabled {
  background-color: #373c41;
  color: #b19e9e;
}

.result-container {
  align-self: center;
}

.result-text {
  color: #ffffff;
  font-size: x-large;
  font-weight: bold;
}
